{% extends 'worthyvote/base.html' %}
{% block body %}
    <div id="fh5co-feature-product" class="fh5co-section-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center heading-section">
                    <h3>Welcome to IndorseTest</h3>
                    <p>You have successfully registered with IndorseTest. Please click on the link sent to your email id for activation</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}